.navbar {
  display: flex;
  background: purple;
  height: 6vh;
  color: white;
  font-size: 24px;
  gap: 60px;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}

.navbarItem {
  cursor: pointer;
}

.userProfileContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.imageProfile {
  border-radius: 50%;
}
