.navbar {
  display: flex;
  background: purple;
  height: 6vh;
  color: white;
  font-size: 24px;
  gap: 20px;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}

.navbarItem {
  cursor: pointer;
}
